/* Estilos para o botão flutuante de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.3s ease;
}

.whatsapp-button i {
  font-size: 2rem;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  background-color: #20ba5a;
}

@media (max-width: 768px) {
  .whatsapp-button {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }
  
  .whatsapp-button i {
    font-size: 1.7rem;
  }
}
