:root {
  --color-rosa-claro: #f6d7da;
  --color-nude-bege: #fceee9;
  --color-branco: #ffffff;
  --color-cinza-suave: #555555;
  --color-texto-escuro: #333333;
  --color-rosa-escuro: #e6b8bd;
  --color-sombra: rgba(0, 0, 0, 0.1);
}
